/*Welcome to the Custom CSS editor!
Please add all your custom CSS here and avoid modifying the core theme files, since that'll make upgrading the theme problematic. Your custom CSS will be loaded after the theme's stylesheets, which means that your rules will take precedence. Just add your CSS here for what you want to change, you don't need to copy all the theme's style.css content.*/
/* useful colors:
FFF = White
7ea4c8 = light blue 
F5F5F5 = some other white
99ccff = Odd blue
990000 = maroon 
*/
/* This is the single Feature content area, not the 3box area */

.span_1_of_4 {
	width: 23.8%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
/* Changed from 100% to 99.6% just to give some buffer.  Not sure there was a real issue. */
@media only screen and (max-width: 480px) {
	.span_4_of_4 {
		width: 99.6%;
	}
	.span_3_of_4 {
		width: 99.6%;
	}
	.span_2_of_4 {
		width: 99.6%;
	}
	.span_1_of_4 {
		width: 99.6%;
	}
}

/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */
/* changed from 49.6% to 99.6% to force single image width */
@media only screen and (max-width: 800px) {
	.span_4_of_4 {
		width: 99.6%;
	}
	.span_3_of_4 {
		width: 99.6%;
	}
	.span_2_of_4 {
		width: 99.6%;
	}
	.span_1_of_4 {
		width: 99.6%;
	}
}

.site-title {
	font-size: 22px;
	font-size: 2.2rem;
	padding-left: 6px;
}

.site-description {
	font-size: 13px;
	font-size: 1.3rem;
	padding-left: 6px;
}

#featuretext_container{
	padding: 10px 0;
	float: left;
	position: relative;
	background: #000;
	width: 100%
}

/* This is the 3 box background.  The container above is both the feature and promotion areas */

.featuretext_middle {
	margin: 0;
	background: #fff;
}

/* ============================== This is absolute top header, first bar, was F5f5f5 ==============================*/
 #topbar_container {
	margin: 0 auto;
	width: 100%;
	height: 40px;
	clear: both;
 	background: #a3bcc2; 
	 border-bottom: 1px solid #E1E1E1; /* not sure what this does yet... */
} 

/* ============================  This IS the master background color , I also like 7ea4c8============================*/
  #wrap {  
	margin: 0 auto;
	padding: 0;
	position: relative;
	background-color: #a3bcc2;  
}



/* =========================== This is background of full masthead...originally fff ===================================*/
 #masthead-wrap {
	top:auto;
	left:auto;
	margin: 0 auto;
	padding-bottom: 0;
	padding-top: 0;
	background-color: #a3bcc2;
	transition:all 3s linear;
} 

/* ========================= This is the sticky header that floats with the page as it scrolls.  Originally was FFF, and put left/right white blocks around main header / menu when scrolling ========== */

.stickyHead.is-sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: -60px;
	height: 94px;
	z-index: 701;
	background: #a3bcc2;
	opacity: .97;
	filter: alpha(opacity = 97);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}


/* ========================= This is main menu item text color and hover indicator bars ========================================= */

.main-navigation a {
	color: #666;  /* This seems to be the unfocused menu item Text color */
    display: block;
    font-size: 1.4rem;
	font-size: 14px;
	height: 90px;
	line-height: 94px;
    text-decoration: none;
	padding: 0 17px 0 17px;
	border-top: 4px solid #666; /* This seemed to change the highlight of the menu item top hover bar */
}


/* ========== EDITING HERE ========== */
/* This is logo container. orig fff. If it is commented out, container goes transparent, it seems to pick up menu bar color */

/* 608690 */

 .header_container {
	background: #a3bcc2;
	margin: 0 auto;
	max-width: 1160px;
	min-height: 94px;
}

/* =================== FIGURING THESE OUT =============== */

 .main-navigation li > a:after {
	content: "\f078";
	font-family: 'fontawesome';
	font-size: 80%;
	right: .2em;
	position: absolute;
	top: .5em;
	color: #666;
} 

.main-navigation li {
	float: left;
	margin: 0;
	position: relative;
	background-color: #a3bcc2;
}

/* ====================== This is the background for the site bar search glass, upper right ============ */
.top-search {
	float:right;
	background:#85a5ad;
	height: 40px;
	width: 40px;
	color:#fff;
}

/* ============================ This is the color of the actual magnifying glass search icon in the site header ======= */
.top-search a {
	display: block;
	color: #666;
	height: 100%;
	text-align: center;
	width: 100%;
	position:relative;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate(0,0);
	-moz-transform: translate(0,0);
	-ms-transform: translate(0,0);
	-o-transform: translate(0,0);
	transform: translate(0,0);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


/* ============ SPECIFIC PAGE CONTENT COLORS ===========================
'color' is the text color.  I suspect i can add more commands here to change font, size, etc.
 background-color is really the content area, notice this is for '.entry-content'.  It does not change the Left / Right border areas. */

.page-id-615 .entry-content {
color: #000;
background-color: #f0f5f5;
float: none;
}


/*.page-id-615 .entry-content {
	width: 1160px;
} */

/* === ALL PAGES =====.page {
    color: #000;
} */

/*
.page-id-615 .container { 
    float: none; 
    width: 100%; 
    
}
*/
